<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Kyivmaps UI test suite">
    <test name="Autorization test">
        <classes>
            <class name="tests.AutoritationTest"/>
        </classes>
    </test>
    <test name="Registration test">
        <classes>
            <class name="tests.RegistrationTest"/>
        </classes>
    </test>
</suite>